@import "../styles/variables";

.app-layout {
  min-height: 100vh;

  .content-wrapper {
    margin: 2px 2px;
    min-height: 280px;
    border-radius: 3px;
  }
}

@media (max-width: $screen-xs) {
  .app-layout {
    margin-top: 64px;
    .content-wrapper {
      margin: 0px;
      padding: 0px 6px;
    }
  }
}
